$page-width = 900px
$vue-color-light          = #fff
$vue-color-light-neutral  = #DDE1E9
$vue-color-dark-neutral   = #3C495E
$vue-color-primary        = #53BA82

$vue-color-accent         = #6806C1
$vue-color-danger         = #e83030
$vue-color-warning        = #ea6e00
$vue-color-info           = #03c2e6
$vue-color-success        = #42b983
